{% extends "base.html" %}
{% block content %}

<h1>Post 2 - Quarantine funny images</h1>

<h4>There are no funny images, quarantine was boring. There are only cats here.</h4>
<br>
<img src="{{ f1 }}" class="img-fluid" alt="Responsive image">
<img src="{{ f2 }}" class="img-fluid" alt="Responsive image">
<img src="{{ f3 }}" class="img-fluid" alt="Responsive image">
<img src="{{ f4 }}" class="img-fluid" alt="Responsive image">
<img src="{{ f5 }}" class="img-fluid" alt="Responsive image">
<img src="{{ f6 }}" class="img-fluid" alt="Responsive image">
<img src="{{ f7 }}" class="img-fluid" alt="Responsive image">

{% endblock %}